@font-face{
    font-family: "Segoe UI";
    src: url(../fonts/segoe-ui-italique.woff) format("woff");
    src: url(../fonts/segoe-ui-italique.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: "Segoe UI";
    src: url(../fonts/seguili.woff) format("woff");
    src: url(../fonts/seguili.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
}
