@font-face{
    font-family: "Segoe UI";
    src: url(../fonts/segoe-ui-italique.woff) format("woff");
    src: url(../fonts/segoe-ui-italique.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: "Segoe UI";
    src: url(../fonts/seguili.woff) format("woff");
    src: url(../fonts/seguili.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face {
	font-family: 'Futura PT Book';
	src:url('../fonts/futura_pt_book.woff2') format('woff2');
	src:url('../fonts/futura_pt_book.woff') format('woff');
    font-weight: 400; 
}
@font-face {
	font-family: 'Futura PT Medium';
	src:url('../fonts/futura_pt_medium.woff') format('woff');
	src:url('../fonts/futura_pt_medium.woff2') format('woff2');
    font-weight: 450; 
}
@font-face {
	font-family: 'Futura PT Light';
	src:url('../fonts/futura_pt_light.woff') format('woff');
	src:url('../fonts/futura_pt_light.woff2') format('woff2');
    font-weight: 300; 
}


   
		
		
		

